[submodule "thirdparty/ThunderKittens"]
	path = thirdparty/ThunderKittens
	url = https://github.com/HazyResearch/ThunderKittens.git
[submodule "external/soxr"]
	path = external/soxr
	url = https://github.com/steinbergmedia/soxr.git
